{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Fatiq Hussnain</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Fatiq Hussnain. Currently Pursuing Bachelors in
                    Computer
                    Science.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Android App Development using Kotlin and also I am interested in backend services like Spring Boot and Java.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='fatiqhussnain1@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                fatiqhussnain1@gmail.com<br><br>
                <a target="_blank" href='https://github.com/manthan89-py/Plant-Disease-Detection'><img
                        src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                manthan89-py<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/fatiq-hussnain-146a32293/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                Fatiq Hussnain<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
